{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}


    <div class="ui container">
        <div class="ui secondary segment">
            <h4>Paste your long URL here:</h4>
            <div class="ui form attached">
                <div class="fields">
                    <div class="field twelve wide">
                        <input type="text" id="long_url" name="long_url" placeholder="">
                    </div>
                    <div class="field two">
                        <div class="ui clear button">Clear</div>
                    </div>
                    <div class="field two wide">
                        <div class="ui blue submit button">Submit</div>
                    </div>

                </div>
                <div class="ui error message"></div>
            </div>
        </div>
        <div class="ui bottom attached floating message hidden" id="msg">
            <div class="ui green horizontal label">New URL</div>
            <span id="short_url"></span>
        </div>
    </div>
{% endblock %}
{% block footer_js %}
    <script src="/js/main.js"></script>
{% endblock %}
